<div>
  <form   [formGroup]="changPasswordForm"
  (submit)="changPasswordForm.valid && changePassword()"
  autocomplete="off">
  <div class="card border-secondary col-lg-8 col-md-8 m-auto" style="padding: 0">
    <div class="card-header bg-dark">
      <h1 class="text-light">تسجيل مستخدم</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
    <label for="password" class="control-label">كلمة السر الجديدة</label>
    <app-text-input
      [formControl]="changPasswordForm.controls['password']"
      [type]="'password'"
      [label]="'كلمة السر الجديدة'"
    ></app-text-input>

    <label for="confirmPassword" class="control-label">تأكيد كلمة السر</label>
    <app-text-input
      [formControl]="changPasswordForm.controls['confirmPassword']"
      [type]="'password'"
      [label]="'تأكيد كلمة السر'"
    ></app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 text-center d-none d-sm-block">
    <i class="fa fa-user" style="font-size:150px;color:gray"></i>
  </div>
</div>

<div class="row" *ngIf="validationErrors.length > 0">
  <ul class="text-danger">
    <li *ngFor="let error of validationErrors">
      {{ error }}
    </li>
  </ul>
</div>
</div>
<div class="card-footer">
<div class="form-group">
  <a href="/users" class="btn btn-danger">رجوع</a>
  <button
    class="btn btn-primary mr-2"
    type="submit"
    [disabled]="!changPasswordForm.valid"
  >
    حفظ
  </button>
</div>
</div>
</div>
  </form>
</div>
