<div class="row mt-5">
  <div class="col-2">
    <button routerLink="/user/new" class="btn btn-primary mb-2">
      مستخدم جديد <i class="fa fa-user"></i>
    </button>
  </div>
  <h5 class="mb-2"><i class="fa fa-users"></i> قائمة المستخدمين</h5>
  <div class="table-responsive" style="background-color: white !important">
    <div class="mt-2 mb-2">
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover table-bordered " style="width: 100%;">
      <thead>
        <tr>
          <td>اسم المستخدم</td>
          <td>الاسم بالكامل</td>
          <td>رقم الجوال</td>
          <td>حالة المستخدم</td>
          <td>الصلاحيات</td>
          <td>تعديل الصلاحيات</td>
          <td>تعديل</td>
          <td>تعطيل</td>
          <td>إعادة تعيين كلمة المرور</td>
        </tr>
      </thead>
<tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.userName }}</td>
    <td>{{ user.fullName }}</td>
    <td>{{ user.phoneNumber }}</td>
    <td>{{ user.locked ? "معطل" : "مفعل" }}</td>
    <td>{{ localizeRolesNames(user.roles) }}</td>
    <td>
      <button class="btn btn-primary" (click)="openRolesModal(user)">
        <i class="fa fa-cog"></i> إدارة
      </button>
    </td>
    <td>
      <button
        class="btn btn-warning"
        routerLink="/users/{{ user.userName }}"
      >
        <i class="fa fa-edit"></i>
      </button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="lockUser(user)">
        <i class="fa fa-unlock" *ngIf="user.locked"></i>
        <i class="fa fa-lock" *ngIf="!user.locked"></i>
      </button>
    </td>
    <td>
      <button
      class="btn btn-dark"
      (click)="resetPassword(user.userName)"
    >
      <i class="fa fa-key"></i>
    </button>
    </td>
  </tr>
</tbody>
    </table>
    </div>

  </div>
</div>
<br>
<br>
<br>
<br>
