<nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top bg-primary d-print-none">
      <a class="navbar-brand" href="https://mod.gov.sa">
    <img src="../../assets/images/modelogo.png"  height="100" alt="">
  </a>
    <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
     data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation"
     (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [collapse]="isCollapsed">
        <ul class="navbar-nav ml-auto">
            <ng-container *ngIf="accountService.currentUser$|async">
              <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" *appHasRole='["Admin"]' [routerLinkActiveOptions]="{exact:true}">الرئيسية</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active" *appHasRole='["Admin"]'>المستخدمين</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/criteria" routerLinkActive="active" *appHasRole='["Admin"]'>إعدادات التقييم</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/evaluation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *appHasRole='["Admin"]'>تقييم الموظفين</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/evaluation/evaluation-report" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *appHasRole='["Admin"]'>تقرير تقييم الموظفين</a>
              </li>
            </ng-container>
        </ul>
        <div class="dropdown" *ngIf="(accountService.currentUser$|async)as user" dropdown>
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>مرحبا {{user?.fullName | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" routerLink="/change-password">تغير كلمة السر</a>
                <a class="dropdown-item" (click)="logout()">خروج</a>
            </div>
        </div>
        <!-- <form *ngIf="!(accountService.currentUser$|async)" #loginForm="ngForm" class="form-inline mt-2"
         (ngSubmit)="login()" autocomplete="off">
            <input [(ngModel)]="model.userName" name="username" class="form-control col-sm-4 ml-2" type="text"
                placeholder="إسم المستخدم">
            <input name="password" [(ngModel)]="model.password" class="form-control col-sm-4 ml-2" type="password"
                placeholder="كلمة السر">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">دخول</button>
        </form> -->

    </div>
  </nav>
